*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 3em;
}
/*
.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    height: 35vh;
    gap: 5px;
}
.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
*/

/* Template area */
.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer';
    margin-bottom: 100px;
}
.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
    
}

#header{
    grid-area: header;
}
#sidebar{
    grid-area: sidebar;
    height: 50vh;
}
#content{
    grid-area: content;
    height: 50vh;
}
#footer{
    grid-area: footer;
}

/* Alinhamento no Grid */

.container2{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 40vh;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */

    margin-bottom: 100px;
}
.container2 div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
    
}

/* Alinhamento por item */

.container3{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;

    margin-bottom: 100px;
}
.container3 div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
    
}

#item-1{
    grid-column-start: 1;
    grid-column-end: 4;
}

#item-2{
    grid-row-start: 2;
    grid-row-end: 4;
}

#item-3{
    justify-self: end;
    height: 200px;
}
#item-5{
    justify-self: start;
    height: 200px;
}

#item-4{
    align-self: center;
}

#item-6{
    align-self: end;
}